@model VjencanjeIzSnova_WebApp.ViewModels.PartnerViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PartnerViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mobitel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mobitel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KategorijaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KategorijaId)
        </dd>
    </dl>
</div>
<div>
   <!--Ovdje-->
    <a asp-action="Index">Back to List</a>
</div>
